.footer {
  bottom: 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px;
}

.mat-toolbar {
    background-color: #cecece;
}

.heart-icon {
    color: #e74c3c;
}

.smaller-font {
    font-size: 0.7em;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}
